dnspython==2.2.1
Faker==15.1.1
jsonschema==4.13.0
PyYAML==6.0
requests==2.28.1
robotframework==5.0.1
robotframework-faker==5.0.0
robotframework-jsonvalidator==2.0.0
robotframework-requests==0.9.3
gherkin3==3.1.2
wheel==0.24.0
beautifulsoup4==4.12.3